# Prerequisites
*.d
.cache.mk

# Object files
*.o
*.ko
*.elf

# Linker output
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
